<!doctype html>
<html>

<head>
    <title>{{#if title}} {{title}} | {{/if}}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{#if description}}{{description}}{{else}}{{ site.description }}{{/if}}">
    
    <meta name="keywords" content="{{ tags }}">
    <meta name="author" content="{{{ site.author }}}">

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" />

    <link rel="stylesheet" href="/assets/css/normalize.css">  
    <link rel="stylesheet" href="/assets/css/github.css">
    <link rel="stylesheet" href="/assets/css/prism.css">
    <link rel="stylesheet" href="/assets/css/site.css">
    <link rel="stylesheet" href="/assets/css/share.min.css">
</head>

<body>
  <div id="container">
    {{> header }}
        <main >
          <div class="contents" >
            <div class="article_title">
              <h1>{{ title }}</h1>
            </div>
 
            <div class="article_date">
              <p>{{formatDate date}} </p>
            </div>
     
            <div class="markdown-body markdown-contents">
              {{{ contents }}}

              本文采用 <a rel="license" style="color:#0366d6;" href="https://creativecommons.org/licenses/by-nd/4.0/deed.zh">署名-禁止演绎 4.0 国际许可协议 (CC BY-ND 4.0)</a> 进行许可（保留链接可任意转载，禁止修改）。
            </div>
            <div class="article_row">
                {{tags_button this.tags "tag_button big_button"}}
            </div>

            <div class="article_row" >
              <div class="social-share"></div>
            </div>

            {{!-- 留言板 --}}
            <div class="article_row">
             <p>留言系统需要代理访问</p>
            </div>
            {{!-- 广告 --}}
            <div class="article_row">
              <div>
                <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
                  <!-- 2017blogarticle -->
                  <ins class="adsbygoogle"
                  style="display:block"
                  data-ad-client="ca-pub-3527087615346771"
                  data-ad-slot="2049652650"
                  data-ad-format="auto"></ins>
                <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
                </script>
              </div>
            </div>
            {{!-- 广告 --}}

            <div>
             <div id="disqus_thread"></div>
              <script>

              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              
              var disqus_config = function () {
              this.page.url = "{{site.url}}{{path}}"
              this.page.identifier = "{{ identifier }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://nshen-net.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
              </script>
              <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
{{!-- 留言板 --}}
            <div id="pre_and_next" class="markdown-body" >
              <div id="pre_link"> 
                {{#if previous}}
                    <a href="/{{ previous.path }}" ><span>&laquo;&nbsp;{{ previous.title }}</span></a>
                  {{/if}} 
              </div>
              <div id="next_link"> 
                {{#if next}}
                    <a href="/{{ next.path }}"><span>{{ next.title }}&nbsp;&raquo;</span></a>
                  {{/if}}
              </div>
            </div>

          </div>

        </main>
    {{> footer }}
  </div>

  <script src="/assets/prism.js"></script>
  <script src="/assets/social-share.min.js"></script>

</body>

</html>