<!doctype html>
<html>

<head>
    <title>{{#if title}} {{title}} | {{/if}}{{ site.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description }}">
    
    <meta name="keywords" content="{{ site.tags }}">
    <meta name="author" content="{{{ site.author }}}">

    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="bookmark" href="/favicon.ico" />

    <link rel="stylesheet" href="/assets/css/normalize.css">  
    <link rel="stylesheet" href="/assets/css/github.css">
    <link rel="stylesheet" href="/assets/css/site.css">
</head>

<body>

  <div id="container">

    {{> header }}

    <main>
      <div class="contents"> 
        <div class="markdown-body">
            {{{ contents }}}
        </div>
{{!-- 留言板 --}}
        <div>
          <div style="padding-top:30px;" id="disqus_thread"></div>
            <script>

              /**
              *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
              *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
              
              var disqus_config = function () {
              this.page.url = "{{site.url}}{{path}}"
              this.page.identifier = "{{ identifier }}"; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
              };
              
              (function() { // DON'T EDIT BELOW THIS LINE
              var d = document, s = d.createElement('script');
              s.src = 'https://nshen-net.disqus.com/embed.js';
              s.setAttribute('data-timestamp', +new Date());
              (d.head || d.body).appendChild(s);
              })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
          </div>
        </div> 

{{!-- 留言板 --}}
      </div>
    </main>

    {{> footer }}

  </div>

</body>
</html>